
.idea/

blog/__pycache__/

blog/migrations/

cinema/__pycache__/

cinema/migrations/

database/__pycache__/

database/migrations/

films/__pycache__/

films/migrations/

users/__pycache__/

users/migrations/

db.sqlite3
